.footer-wrapper {
    background-color: #2b2b2b;
    width: 100%;
    height: 160px;
}

.content-wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;

    & > h1 {
        font-weight: 500;
        font-size: 20px;
        padding: 10px 20px 10px 10px;
        text-align: right;
        color: #515151;

        @media screen and (max-width: 550px) {
            font-size: 14px;
        }
    }
}

.content-icons {
    width: 100%;
    text-align: right;
    padding-top: 50px;

    & > .generic-anchor {
        color: #515151;
        padding: 20px;
        font-size: 30px;

        &:hover {
            color: #fff;
        }
    }
}